<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <javaee:display-name>cloud</javaee:display-name>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>Controller</javaee:display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>
		com.itp.cloud.controller.Controller</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>SearchManager</javaee:display-name>
    <servlet-name>SearchManager</servlet-name>
    <servlet-class>com.itp.cloud.search.SearchManager</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>RegistrationManager</javaee:display-name>
    <servlet-name>RegistrationManager</servlet-name>
    <servlet-class>com.itp.cloud.login.RegistrationManager</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>AddServerManager</javaee:display-name>
    <servlet-name>AddServerManager</servlet-name>
    <servlet-class>com.itp.cloud.login.AddServerManager</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>UpdateUserManager</javaee:display-name>
    <servlet-name>UpdateUserManager</servlet-name>
    <servlet-class>com.itp.cloud.login.UpdateUserManager</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>LoginManager</javaee:display-name>
    <servlet-name>LoginManager</servlet-name>
    <servlet-class>com.itp.cloud.login.LoginManager</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>DeleteServerManager</javaee:display-name>
    <servlet-name>DeleteServerManager</servlet-name>
    <servlet-class>com.itp.cloud.login.DeleteServerManager</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>ServerManager</javaee:display-name>
    <servlet-name>ServerManager</servlet-name>
    <servlet-class>com.itp.cloud.login.ServerManager</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>Test</javaee:display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>
		com.itp.test.Test</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>UploadFileManager</javaee:display-name>
    <servlet-name>UploadFileManager</servlet-name>
    <servlet-class>
		com.itp.cloud.manager.UploadFileManager</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>DownloadManager</javaee:display-name>
    <servlet-name>DownloadManager</servlet-name>
    <servlet-class>
		com.itp.cloud.manager.DownloadManager</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>UpdateStatusStore</javaee:display-name>
    <servlet-name>UpdateStatusStore</servlet-name>
    <servlet-class>
		com.itp.cloud.manager.UpdateStatusStore</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>UpdateUserRequestManager</javaee:display-name>
    <servlet-name>UpdateUserRequestManager</servlet-name>
    <servlet-class>
		com.itp.cloud.manager.UpdateUserRequestManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchManager</servlet-name>
    <url-pattern>/SearchManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginManager</servlet-name>
    <url-pattern>/LoginManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrationManager</servlet-name>
    <url-pattern>/RegistrationManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServerManager</servlet-name>
    <url-pattern>/AddServerManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServerManager</servlet-name>
    <url-pattern>/ServerManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServerManager</servlet-name>
    <url-pattern>/DeleteServerManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserManager</servlet-name>
    <url-pattern>/UpdateUserManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFileManager</servlet-name>
    <url-pattern>/UploadFileManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadManager</servlet-name>
    <url-pattern>/DownloadManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStatusStore</servlet-name>
    <url-pattern>/UpdateStatusStore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserRequestManager</servlet-name>
    <url-pattern>/UpdateUserRequestManager</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>WEB-INF\jsps\Login.jsp</welcome-file>
    <welcome-file></welcome-file>
    <welcome-file>Search.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>